{% extends 'pages/base.html' %}
<!--about-->
{% load static %}
<!--content-->

{% block content %}
<!--start-->
<!-- Page Header Start -->
<div class="container-fluid page-header py-3 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center py-3 mt-3">
    <h1 class="display-2 text-white mb-3 animated slideInDown">About</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item" aria-current="page">About</li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<div class="container-fluid container-team py-5">
  <div class="container pb-5">
    <div class="row g-5 align-items-center mb-5">
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
        <h2 class="display-6 mb-3">Who we are</h2>
        <p class="mb-4">
          “But ye are a chosen generation, a royal priesthood, an holy nation, a peculiar people; that ye should shew forth the praises of him who hath called you out of darkness into his marvellous light:” 1Peter 2:9

        </p>
      </div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
        <h2 class="display-6 mt-5">Our Aims & Objectives</h2>
        <p class="mb-4">
          To reenact and rekindle the revival fire of the early Apostles in Acts 4:31-33 through the manifestation of the Holy Spirit, speaking the word of God with boldness, practicing the Agape love of God, and sharing all things in common.

        </p>
      </div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
        <h2 class="display-6 mb-3">Our Purpose</h2>
        <p class="mb-4">
          Teaching biblical doctrines, providing places of fellowship for believers, helping the helpless; widows, physically challenged, destitutes, poor and the needy.
        </p>
      </div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
        <h2 class="display-6 mb-3">Our Mission</h2>
        <p class="mb-4">
          To demonstrate the practical love of Christ Jesus to everyone we encounter, to be disciples who  make disciples, and unifying the Body of Christ as one.

        </p>
      </div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
        <h2 class="display-6 mb-3">Our Vision</h2>
        <p class="mb-4">
          Helping people and nations  find their way back to God.
        </p>
      </div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s"></div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
        <img
          class="img-fluid w-100"
          src="{% static 'pages/imgs/head-1.jpg' %}"
          alt=""
        />
      </div>
      <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="display-6 mb-3">Rev. Felix Oje Uankhoba</h1>
        <p class="mb-1"><strong>Lead Pastor</strong></p>
        <p class="mb-5">
          Woolwich Polytechnic For Boys Hutchins Road, Thamesmead SE28 8AT
        </p>
        <h3 class="mb-3">Biography</h3>
        <p class="mb-4">
          He is the founder of The Body of Christ Mission in Barcelona, Kingdom
          of Spain, where he obtained an honor as Catalunya best man of the year
          award, presented by the Catalunya state government, Nigeria High
          commission in Spain and the Nigerian Community in Spain for his
          selfless service to humanity, his passion for God and compassion for
          people
        </p>
        <p class="mb-4">
          He operates a prison and hospital ministry where God uses him mightily
          to bring restoration, healing and deliverance to many people.
        </p>
        <div class="d-flex">
          <a class="btn btn-lg-square btn-primary me-2" href=""
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-lg-square btn-primary me-2" href=""
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-lg-square btn-primary me-2" href=""
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a class="btn btn-lg-square btn-primary me-2" href=""
            ><i class="fab fa-youtube"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row g-4">

      {% for team in teams %}
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
          <div class="position-relative overflow-hidden">
            <img
              class="img-fluid w-100"
              src="{{team.image.url}}"
              target="_blank"
              alt=""
            />
            <div class="team-social">
              <a class="btn btn-square btn-light mx-1" href="{{team.facebook_url}}" target="_blank"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square btn-light mx-1" href="{{team.twitter_url}}" target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square btn-light mx-1" href="{{team.linkedin_url}}" target="_blank"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-1">{{team.name}}</h5>
            <span>{{team.title}}</span>
          </div>
        </div>
      </div>
    {% endfor %}
     

    </div>
  </div>
  <!-- Team End -->
</div>
</div>
  {% endblock %}
</div>
